body {
    background-color: lightgreen
}

.l {
    float:right;
    text-align: bottom; /* <---- nadplanowe myslalem ze zadziala*/
}

.szachownica {
    width: 640px;
    border: 3px solid black;
    margin: 100px auto;
    background-color: wheat;
}

.wiersz > div {
    float: left;
    width: 80px;
    height: 80px;
}

.wiersz {
    width: 640px;
    height: 80px;
 }

.bialy div:nth-child(even) {
    background-color: black;
    color: black;
}

.czarny div:nth-child(odd) {
    background-color: black;
    color: white;
}